/*█▀ ▀█▀ █▄█ █   █▀▀
  ▄█  █   █  █▄▄ ██▄*/

/* See https://github.com/catppuccin/wlogout */

/* Colors:
mauve: #cba6f7
lavender: #b4befe
peach: #f5e0dc
*/


* {
	background-image: none;
	box-shadow: none;
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: #f5e0dc;
}

window {
	background-color: rgba(9, 4, 4, 0.80);
}

button {
	border-radius: 0px;
	border: 2px solid #f5e0dc;
	color: #e1e0df;
  margin: -1px;
	background-color: #090404;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgba(163, 160, 157, 0.6);
	outline-style: none;
}

/* Icons */

#lock {
    background-image: url("./icons/peach/lock.svg");
}

#logout {
    background-image: url("./icons/peach/logout.svg");
}

#suspend {
    background-image: url("./icons/peach/suspend.svg");
}

#hibernate {
    background-image: url("./icons/peach/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/peach/shutdown.svg");
}

#reboot {
    background-image: url("./icons/peach/reboot.svg");
}
