/*█▀ ▀█▀ █▄█ █   █▀▀
  ▄█  █   █  █▄▄ ██▄*/

/* See https://github.com/catppuccin/wlogout */

* {
	background-image: none;
	box-shadow: none;
  font-family: "Firacode Nerd Font";
  font-size: 16px;
  font-weight: bold;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-radius: 0;
	border-color: #b4befe;
  /* 
  Peach:
  border-color: #fab387;

  Mauve:
  border-color: #cba6f7;

  Lavender:
  border-color: #b4befe;
  */
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}

/* Icons */

#lock {
    background-image: url("./icons/mauve/lock.svg");
}

#logout {
    background-image: url("./icons/mauve/logout.svg");
}

#suspend {
    background-image: url("./icons/mauve/suspend.svg");
}

#hibernate {
    background-image: url("./icons/mauve/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/mauve/shutdown.svg");
}

#reboot {
    background-image: url("./icons/mauve/reboot.svg");
}
